*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(22, 22, 22);
}
.navbar{
    width: 100%;
    height: 80px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border-bottom: 1px solid rgb(46, 99, 86); */
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
    position: sticky;
    top: 0;
    z-index: 10;
    /* box-shadow: 0px 0px 20px rgb(46, 99, 86); */
}
.navbar h3{
    margin-left: 105px;
    font-size: 27px;
    color: #fff;
    margin-top: 29px;
    font-weight: lighter;
}
.navbar h3 a{
    color: rgb(60, 194, 163);
    text-decoration: none;
}
/* .navbar img{
    width: 190px;
    height: 190px;
    margin-top: -40px;
    margin-left: 65px;
} */
.navbar ul{
    display: inline-flex;
    list-style: none;
    margin-top: 15px;
    
}
.navbar ul li{
    margin: 8px;
    padding: 10px;
    width: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(60, 194, 163);
    font-size: 16px;
    text-shadow: 0px 0px 20px rgb(75, 184, 156);
}
.navbar ul li:hover{
    border: 2px solid rgb(60, 194, 163);
    box-shadow: 0px 0px 20px rgb(46, 99, 86);
    border-radius: 8px;
}
.slide-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.843);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(35, 109, 92, 0.782);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    visibility: hidden;
}
.slide-bar li{
    width: 100%;
}
.slide-bar a{
    width: 100%;
}
.menue-button{
    display: none;
}
.Container-01{
    width: 100%;
   display: flex;
    margin-top: 110px;
    justify-content: space-around;
    margin-bottom: 120px;
}
.text-container{
    margin: 50px;
    padding-left: 50px;
}
.text-container h4{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    /* margin-left: 110px; */
    font-size: 18px;
}
.text-container a{
    color: rgb(75, 184, 156);
    font-size: 18px;
    text-decoration: none;
}
.text-container h1{
    color: rgb(60, 194, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    animation: type 2s steps(19, end);
}
@keyframes type{
    0%{
        width: 0;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        width: 100%;
    }
}
.text-container p{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    padding-right: 100px;
    margin-right: 100px;
}
.button{
    /* margin-left: 110px; */
    margin-top: 30px;
}
.text-container button{
    width: 110px;
    height: 40px;
    margin-left: 10px;
    border: 2px solid rgb(37, 114, 96);
    color: rgb(60, 194, 163);
    background: none;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgb(60, 194, 163);
    animation: scale-button 2s linear infinite;
}
.text-container button:hover{
    color: aliceblue;
    background-color: rgb(35, 109, 92);
}
.pic-container{
    text-align: center;
    margin-right: 140px;
}
.pic-container img{
    width: 240px;
    height: 230px;
    border-radius: 50%;
    border: 8px solid rgb(75, 184, 156);
    box-shadow: 0px 0px 40px rgb(60, 194, 163);
    animation: scale-image 2s linear infinite;
}
 @keyframes scale-image{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.Container-02{
    width: 98%;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}
.Container-02 h1{
    color: rgb(60, 194, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.Container-02 h1 a{
    text-decoration: none;
    color: #fff;
}
.paragraph-of-container-02{
    width: 40%;
    height: 100px;
    margin: auto;
    text-align: center;
    color: #d8d6d6;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
.Sub-Container-of-Container-01{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgb(60, 194, 163);
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-gap: 30px;
}
.Sub-Container-of-Container-01 div{
    background-color: rgb(37, 37, 37);
    color: rgb(35, 109, 92);
    height: 300px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
    /* border: 2px solid rgb(37, 114, 96);  */
    transition: 0.5s ease; 
}
.Sub-Container-of-Container-01 div:hover{
    transform: scale(1.06);
}
.Sub-Container-of-Container-01 div img{
    margin-top: 40px;
    margin-bottom: 30px;
    animation: animate 0.5s linear infinite;
}
.Sub-Container-of-Container-01 div h5{
    font-size: 20px;
    margin: 10px;
}
.Sub-Container-of-Container-01 div p{
   font-size: 12px;
}
.Sub-Container-of-Container-01 div:hover{
    background-color: rgb(37, 114, 96);
    color: #fff;
}
.container-03{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.container-03 h1{
    color: #fff;
    font-weight: lighter;
    margin-bottom: 50px;
}
.container-03 h1 a{
    color: rgb(60, 194, 163);
    text-decoration: none;
}
.sub-container-of-container-03{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sub-container-of-container-03 div{
    height: 220px;
    text-align: start;
    padding: 60px;
}
.sub-container-of-container-03 h2{
    padding-top: 40px;
    margin-bottom: 10px;
}
.sub-container-of-container-03 h5{
    font-weight: lighter;
    font-size: 18px;
}
.sub-container-of-container-03 p{
    font-size: 12px;
}
.text{
    background: linear-gradient(to right, #111111, #2e2d2d);
    z-index: 1;
}
.images{
    background-image: url(./images/html.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
}
.images:hover{
    transform: scale(1.01);
    overflow: hidden;
}
.container-04{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.picture-container .design{
    width: 220px;
    height: 300px;
    border: 8px solid rgb(37, 114, 96);
    box-shadow: 0px 0px 10px rgb(60, 194, 163);
}
.picture-container .design img{
    position: absolute;
    margin-top: -30px;
    margin-left: 60px;
    border: 7px solid rgb(22, 22, 22);
    /* animation: scale-image 2s infinite; */
}
/* @keyframes scale-image{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
} */
.aside-container{
    margin-left: 100px;
}
.aside-container h1{
    font-weight: lighter;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aside-container h1 a{
    text-decoration: none;
    color: rgb(75, 184, 156);
    margin-bottom: 10px;
}
.aside-container h5{
    color: rgb(37, 114, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    margin-bottom: 5px;
}
.aside-container p{
    font-size: 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.aside-container button{
    width: 180px;
    height: 40px;
    margin-left: 10px;
    border: 2px solid rgb(37, 114, 96);
    color: rgb(60, 194, 163);
    background: none;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgb(60, 194, 163); 
    animation: scale-button 2s linear infinite;  
}
@keyframes scale-button{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.aside-container button:hover{
    color: #fff;
    background-color: rgb(37, 114, 96);
}
.container-05{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 150px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-05 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 100px;
}
.container-05 h1 a{
    text-decoration: none;
    color: rgb(37, 114, 96);
}
.container-05 p{
    font-size: 10px
}
.sub-container-of-container-05{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 100px;
}
.dives{
    background-color: rgb(32, 32, 32);
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: start;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    transition: 1.5s ease;
    height: 80px;
}
.dives:hover{
    transform: scale(1.1);
}
.dives img{
    animation: scale-icons 2s linear infinite;
}
.footer{
    width: 100%;
    background-color: #111111;
    height: 150px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0px;
}
.footer h2{
    font-weight: lighter;
}
.footer p{
    font-size: 12px;
    margin-bottom: 10px;
}
.footer img{
    width: 35px;
    height: 35px;
}
#last{
    font-size: 8px;
    color: #969191;
    margin-top: 20px;
}
 @keyframes scale-icons{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}